*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.restaurant h1{
    text-align: center;
}
.carousel-item img{
    height: 350px;
}
header h1{
    color: tomato;
}
.navbar{
    background-color: #fdfaf9;
    display: flex;
    text-transform: uppercase;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10;
    height: 60px;
    width: 100%;
}

nav ul li {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 25px;
}
nav ul li:hover {
    background-color: rgb(106, 204, 204);
    color: white;
}
nav input{
    border: none;
    border-radius: 25px;
}
nav span a{
    color: rgb(243, 138, 138);
    margin: 20px;
    padding: 5px 15px;
    border-radius: 25px;
    text-transform: capitalize;
    font-weight: bold;
}
nav span a:hover{
    background-color: rgb(16, 179, 179);
}
.navbar nav ul li a{
    text-decoration: none;
    color: black;
}
img{
    width: 250px;
    height: 200px;
}
.first{
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px;
}
.first p{
    text-align: center;
}
.card-body{
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 8px;
}
.edit{
    text-align: center;
}
.container{
    text-align: center;
}
.second{
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    margin-left: 25%;
    justify-content: space-between;
}
#background{
    background-image: url(/images/background1.jpg);
    background-repeat: no-repeat;
    background-position:center;
    margin-top: 15%;
    background-size: cover;
}
.form1{
    align-content: center;
}
.second img{
    height: 400px;
    width: 300px;
}